In [7]:
#Conditional Statement
#if,else,elif
a=int(input("Enter a: "))
#if expr:
if a>0:
    #Indendation Space
    b=a**2
    print("Positive value is ",a,"and Square data ",b)
elif a==0:
    pass
else:
    b=a**3
    print("Negative value is ",a,"and Cube data ",b)

Enter a: 0

In [9]:
a=int(input("Enter a: "))
if a%2==0:
    print("Even")
else:
    print("Odd")

Enter a: 3
Odd

In [10]:
x="refer"
if x==x[::-1]:
    print("Palindrome")
else:
    print("Not Palindrome")

Palindrome

In [11]:
#Looping Statement
#for iter_var in seq:
x=[10,20,30,40,50]

In [12]:
for num in x:
    print(x)

[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50]

In [13]:
for i in x:
    print(i)

10
20
30
40
50

In [14]:
x

[10, 20, 30, 40, 50]

In [15]:
x.pop()

50

In [16]:
x

[10, 20, 30, 40]

In [19]:
for i in x:
    print(i/2)

5.0
10.0
15.0
20.0

In [20]:
#[i:e]
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [21]:
#1*10=10
t=int(input("Enter table no: "))
e=int(input("Enter last range: "))
for i in range(1,e):
    print(i,"*",t,"=",i*t)

Enter table no: 10
Enter last range: 6
1 * 10 = 10
2 * 10 = 20
3 * 10 = 30
4 * 10 = 40
5 * 10 = 50

In [23]:
for i in range(1,5):
    if i%2==0:
        print(i,"Even")
        
    else:
        print(i,"Odd")

1 Odd
2 Even
3 Odd
4 Even

In [24]:
for i in range(1,5):
    if i%2==0:
        print(i,"Even")
        break
    else:
        print(i,"Odd")

1 Odd
2 Even

In [32]:
for i in range(30,45):
    if i>1:
        for j in range(2,i):
            if i%j==0:
                break
        else:
            print(i)

31
37
41
43

In [33]:
i=1
while i<6:
    i=i+2
    print(i)

3
5
7

In [34]:
#Function:
#def fn_name():
def add(a=90,b=10):
    return a+b

In [35]:
#Call fn_name
add()

100

In [36]:
add(100,200)

300

In [37]:
add(1,3,4)

TypeError: add() takes from 0 to 2 positional arguments but 3 were given

In [38]:
def sqr(a):
    print(a**2)

In [39]:
sqr(10)

100

In [40]:
sqr(91)

8281

In [41]:
x=int(input("Enter x: "))
def cube(x):
    return x**3
cube(x)

Enter x: 10

1000

In [42]:
cube(11)

1331

In [43]:
x=100#Global

In [45]:
def var():
    x=200#Local Variable-Inside the functions
    print(x)

In [46]:
x

100

In [47]:
def add():
    global x
    y=x+200
    print(y)

In [48]:
add()

300

In [53]:
#Ananymous Function-Lambda
#lambda var:expr
y=lambda a,b:a+b
z=lambda a,b,c:(a+b+c)/3
z(10,20,30)

20.0

In [50]:
y(12,34)

46

In [54]:
n=[30,23,4,33,1,8]
c=filter(lambda x:(x%2==0),n)

In [55]:
list(c)

[30, 4, 8]

In [58]:
n=[100,102,106,13,14,9,4]
def even(n):
    if n%2==0:
        return True
    return False

In [59]:
y=filter(even,n)
list(y)

[100, 102, 106, 14, 4]

In [60]:
#OOPS

In [84]:
#Class-User-defined prototype or blueprint of an object
#class clsname:-2 properties-attribute and Behavior
class Student:
    def __init__(self,college):
        print("College: ",college)
    #Methods-Similar to function
    def details(self,name,course):
        #self is used to access the attribute or behavior var values
        print("Name: ",name)
        print("Course: ",course)
    def perform(x,grade):
        print("Rank: ",grade)

In [86]:
#Object-Instance of the class
s=Student("RNSIT")

College:  RNSIT

In [87]:
s.details("Preethu","CS")
s.perform("A")

Name:  Preethu
Course:  CS
Rank:  A

In [89]:
s1=Student("VTU")
s1.details("Karthik","IT")
s1.perform("C")

College:  VTU
Name:  Karthik
Course:  IT
Rank:  C

In [90]:
#Inheritance-Base class and Derived Class
#Derived class Can access base cls properties
#base class can't access derived class properties
#Single Inheritance-1 base class and 1 derived class
class College:#Base class
    def __init__(self,college):
        print("College: ",college)
    #Methods-Similar to function
class Student(College):#Derived class
    def details(self,name,course):
        #self is used to access the attribute or behavior var values
        print("Name: ",name)
        print("Course: ",course)
    def perform(x,grade):
        print("Rank: ",grade)

In [93]:
s1=Student("VTU")
s1.details("Karthik","IT")
s1.perform("C")

College:  VTU
Name:  Karthik
Course:  IT
Rank:  C

In [94]:
#Multilevel Inheritance
class College:#Base class
    def __init__(self,college):
        print("College: ",college)
    #Methods-Similar to function
class Student(College):#Derived class
    def details(self,name,course):
        #self is used to access the attribute or behavior var values
        print("Name: ",name)
        print("Course: ",course)
class Academic(Student):
    def perform(x,grade):
        print("Rank: ",grade)

In [95]:
s1=Academic("VTU")
s1.details("Karthik","IT")
s1.perform("C")

College:  VTU
Name:  Karthik
Course:  IT
Rank:  C

In [96]:
#Multiple Inheritance-Too many base clss and one derived class
class Add:#Base class
    def add(x,a,b):
        print(a+b)
class Sub:#Base class
    def sub(x,a,b):
        print(a-b)
class Mul:#Base class
    def mul(x,a,b):
        print(a*b)
class Div(Add,Sub,Mul):#Derived class
    def div(x,a,b):
        print(a/b)

In [97]:
d=Div()
d.add(12,3)
d.sub(12,3)
d.div(12,3)
d.mul(12,3)

15
9
4.0
36

In [98]:
a=Add()
a.div(12,3)

AttributeError: 'Add' object has no attribute 'div'

In [99]:
import math

In [100]:
math.sqrt(100)

10.0

In [101]:
math.cos(12)

0.8438539587324921

In [102]:
#Data Encapsulation-Hide the values
#__- to hide the data
class Product:
    price=1100
    __price=1200#hidden data

In [103]:
p=Product()
p.price

1100

In [104]:
#obj._cls_name__hiddenvar
p._Product__price

1200

In [107]:
#Polymorphism-overriding the data or many forms
class Add:#Base class
    def add(x,a,b):
        print(a+b)
class Sub:#Base class
    def sub(x,a,b):
        print(a-b)
class Mul:#Base class
    def mul(x,a,b):
        print(a*b)
class Div(Add,Sub,Mul):#Derived class
    def add(x,a,b):
        print(a/b)
    def add(x):
        print("Add")

In [109]:
d=Div()
d.add()

Add

In [110]:
a=int(input("Enter price: "))
if a<=1000:
    dis=1000*0.01
    tot=a-dis
    print("Total: ",tot)
else:
    pass

Enter price: 900
Total:  890.0

In [113]:
1.USing conditional statement
    Greatest of three numbers
    if a<=1000,10,a<=2000,a<=3000,
2.Using For loop
    Factorial number
    Fibonacci Series
3.Using While
    Add the sum of number Ex:(1+2...+10=55)
4.Using For while
    Reverse the number
    Armstrong number
5.Using OOPS
    Employee Details
6.Installation of modules and import the data methods
*
**
***
****
*****

SyntaxError: invalid syntax (Temp/ipykernel_13296/3564290685.py, line 1)

In [111]:
1+125+27

153