In [1]:
a=10
type(a)

int

In [2]:
x=[]
type(x)

list

In [4]:
A=[1,2,3]
X=[4,5,6]
A.extend(X)
A

[1, 2, 3, 4, 5, 6]

In [5]:
A=[1,2,3,4]
A.index(3)

2

In [7]:
A=[1,2,3,4]
A.append(5)

[1, 2, 3, 4, 5]

In [9]:
A=[1,2,3,5]
A.insert(3,4)
A

[1, 2, 3, 4, 5]

In [12]:
A=[1,2,3,4,5,6,7,1,4,1]
A.count(1)

3

In [13]:
A=[1,2,3,4,5]
A.remove(3)
A

[1, 2, 4, 5]

In [14]:
A=[1,2,3,4,5]
A.pop(3)

4

In [28]:
y=[12,3,[24,'list',46],[100,4500,56]]
y[2][1]

'list'

In [30]:
!pip install numpy

Requirement already satisfied: numpy in c:\users\nayak\anaconda3\lib\site-packages (1.20.1)

In [41]:
from numpy import add,multiply,subtract
A=[1,2,3,4]
B=[5,6,7,8]
print(sum(A))
print(subtract(B,A))
print(multiply(B,A))

10
[4 4 4 4]
[ 5 12 21 32]

In [2]:
x=(1,2,3)
type(x)

tuple

In [11]:
x=([12,45],'string',30,9.34,(1,2,3))
print(type(x[0]))
print(type(x[1]))
print(type(x[2]))
print(type(x[3]))
print(type(x[4]))
x[0].remove(12)
x

<class 'list'>
<class 'str'>
<class 'int'>
<class 'float'>
<class 'tuple'>

([45], 'string', 30, 9.34, (1, 2, 3))

In [12]:
a='[1,2,3,4]'
type(a)

str

In [14]:
x='world'
print(x.upper())

WORLD

In [15]:
x='WORLD'
print(x.lower())

world

In [18]:
x="capitalize"
print(x.capitalize())

Capitalize

In [21]:
x='References'
print(x[0:5])
print(x[::-1])
print(x[::2])

Refer
secnerefeR
Rfrne

In [22]:
x=input()
print(x)
y=int(input())
print(y)

world
world
5
5

In [26]:
Month={1:'January',2:'February'}
print(Month.keys())
print(Month.values())
print(Month.items())

dict_keys([1, 2])
dict_values(['January', 'February'])
dict_items([(1, 'January'), (2, 'February')])

In [28]:
States={'Id':[1,2,3,4],
        'Places':['Chennai','Pune','Mumbai','Delhi']}
States

{'Id': [1, 2, 3, 4], 'Places': ['Chennai', 'Pune', 'Mumbai', 'Delhi']}

In [34]:
States['Id'][2]

3

In [37]:
import pandas as pd
pd.DataFrame(States)

   Id   Places
0   1  Chennai
1   2     Pune
2   3   Mumbai
3   4    Delhi

In [40]:
var=pd.DataFrame(States)
var.to_csv('state.csv')

In [41]:
a={1,2,3,4}
a

{1, 2, 3, 4}

In [44]:
a.add(5)
a

{1, 2, 3, 4, 5}

In [45]:
a.remove(5)
a

{1, 2, 3, 4}

In [50]:
Month1={1:'January',2:'February',3:'March'}
Month2={4:'April',5:'May',6:'June'}
Month1.update(Month2)
print(Month1)

{1: 'January', 2: 'February', 3: 'March', 4: 'April', 5: 'May', 6: 'June'}

In [1]:
#Source Code for even or odd
num = int(input("Enter a number"))
if num % 2 == 0:
    print(num," is even")
else:
    print(num," is odd")

Enter a number12
12  is even

In [3]:
#Source Code for palindrome
word = input("Enter a word")
if(word[::-1]==word[:]):
    print(word," is a palindrome")
else:
    print(word," is not a palindrome")

Enter a wordmalayalam
malayalam  is a palindrome

In [10]:
#Source Code for multiplication for for loop
num = int(input("Enter a number for multiplication "))
limit = int(input(("Enter the limit ")))
for i in range(1,limit+1):
    print(num," * ",i," = ",(num*i))

Enter a number for multiplication 10
Enter the limit 10
10  *  1  =  10
10  *  2  =  20
10  *  3  =  30
10  *  4  =  40
10  *  5  =  50
10  *  6  =  60
10  *  7  =  70
10  *  8  =  80
10  *  9  =  90
10  *  10  =  100

In [20]:
l = [10,11,12,13,14,15]
for i in range(6):
    if(l[i]%2==0):
        print("even")
    else:
        print("odd")

even
odd
even
odd
even
odd

In [25]:
class Add:
    def add(x,a,b):
        print(a+b)
class Sub:
    def sub(x,a,b):
        print(a-b)
class Mul:
    def mul(x,a,b):
        print(a*b)
class Div(Add,Sub,Mul):
    def div(x,a,b):
        print(a/b)
    
d=Div()
d.add(12,3)
d.sub(12,3)
d.mul(12,3)

15
9
36